
   <div class="container">
    <h2 class="text-center my-4">All Orders</h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="bg-dark text-white">
          <tr>
            <th>Order ID</th>
            <th>Item ID</th>
            <th>User ID</th>
            <th>Shipping Address</th>
            <th>Payment Method</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.itemId }}</td>
            <td>{{ order.userId }}</td>
            <td>{{ order.shippingAddress }}</td>
            <td>{{ order.paymentMethod }}</td>
            <td>{{ order.status }}</td>
            <td>
              <button class="btn btn-success btn-sm" (click)="markAsDelivered(order)">Mark as Delivered</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  