
<div="one">
<div class="item-details-container">
    <div class="item-details">
        <h2>{{ item.itemName }}</h2>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <p><strong>Category:</strong> {{ item.category }}</p>
        <p><strong>Condition:</strong> {{ item.condition }}</p>
        <p><strong>Images:</strong> {{ item.images }}</p>
        <p><strong>Location:</strong> {{ item.location }}</p>
        <button (click)="goBack()">Back</button>
    </div>
</div>
</div>

  
